@import "variables";

:root {
	font-family: "JetBrains Mono", monospace, -apple-system, BlinkMacSystemFont, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: $font-color;
	background-color: $background;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

#root {
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}


// Full screen sectioning

.main {

	section {
		min-height: 100vh;
		display: flex;
		flex-direction: column;

		div.full-screen-unit,
		form.full-screen-unit {
			display: flex;
			flex-direction: column;
			max-width: 1280px;
			margin: auto auto;
			align-items: center;
			text-align: center;
			justify-content: center;
			padding: calc(1em + 2vw);
			gap: 1.6em;

			p {
				margin-block: 0;
			}
		}
	}
}

// full screen forms
// login and register
#register,
#login {
	& > form.full-screen-unit {
		gap: calc(0.8em + 1vw);

		& label {
			font-size: calc(0.8em + 1.2vw);
			margin-top: 1em;
		}

		& input {
			font-size: calc(0.8em + 1.2vw);
			padding: calc(0.2em + 0.3vw) calc(0.6em + 0.5vw);
		}

		& button {
			margin-top: 4em;
			padding-inline: calc(0.8em + 1.6vw);
			font-size: calc(0.8em + 1vw);
		}
	}

}

// General anchors and buttons

a {
	font-weight: 500;
	text-decoration: inherit;
	color: $anchor--font-color;

	&:hover {
		color: $anchor--font-color--hover
	}
}


button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: calc(0.6em + 0.8vw);
	font-weight: 500;
	font-family: inherit;
	background-color: $button--background;
	cursor: pointer;
	transition: border-color 0.25s;

	&:hover {
		border-color: $button--border--hover;
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}

}


// Light mode adjustments

@media (prefers-color-scheme: light) {
	:root {
		color: $font-color--light;
		background-color: $background--light;
	}
	a:hover {
		color: $anchor--font-color--hover--light
	}
	button {
		background-color: $button--background--light;
	}
}
