@import '../../sass/variables';

.user {
	display: flex;
	gap: 20px;
	align-items: center;
	width: 100%;
	min-width: 40vw;
	border: 1px solid white;
	border-radius: 4px;
	padding: 6px 18px;
	@media (prefers-color-scheme: light) {
		background: $user-background--light;
	}


	& > :first-child {
		text-align: start;
		min-width: 78px;
	}

}

.user__action {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;


	&--delete {
		margin-left: auto;
		color: $user-delete;
	}

	&--cancel {
		@media (prefers-color-scheme: light) {
			color: $user-delete--cancel--light;
			font-size: larger;
		}
	}

}
