@import 'src/sass/variables';

#restricted {
	& h2 {
		color: $background--personal--light;
	}
}

.user,
.resume {
	display: flex;
	gap: 20px;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	min-width: 40vw;
	border: 1px solid white;
	border-radius: 4px;
	padding: 6px 18px;
	font-size: calc(0.6em + 0.8vw);
	@media (prefers-color-scheme: light) {
		background: $user-background--light;
	}

	& > :first-child {
		text-align: start;
		min-width: 78px;
	}
	& > p:last-of-type {
		margin-left: auto;
	}

}
